body {
  background-color: rgb(40, 44, 52);
  color: white;
}

.container {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .container {
    margin: 1rem 5rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  padding: 10px 0;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 1;

  box-shadow: 0 0 1rem 1px rgb(40, 44, 52);
}

.filter {
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 2rem;
}

.filter-input {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid ivory;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}

.filter-input:focus {
  box-shadow: 0 0 1rem 1px rgba(255, 255, 240, 0.5);
}

.filter-clear-button {
  width: 2rem;
  font-size: 1rem;
  border: 1px solid ivory;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: gray;
  font-weight: 100;

  background: white;
}

.filter-clear-button:hover,
.filter-clear-button:focus,
.filter-clear-button-focus {
  box-shadow: 0 0 1rem 1px rgba(255, 255, 240, 0.5);
}

.filter-clear-button:hover,
.filter-clear-button:focus {
  color: red;
  font-weight: 700;

  transition: all 200ms ease;
}

.boxes {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.box {
  --size: 2.5rem;
  line-height: var(--size);
  min-width: var(--size);
  color: white;
  background: var(--bcolor);
  text-shadow: 0 0 5px black;

  border-radius: 10%;
  margin: 2px;
  font-size: x-large;
  cursor: pointer;
  box-shadow: 0 0rem 1rem 1px rgba(255, 255, 240, 0.1);
  border: 0;
  /* outline: none; */
}

@media only screen and (min-width: 800px) {
  .box {
    --size: 5rem;
    font-size: xx-large;
  }
}

.box.selected {
  box-shadow: 0 0rem 2rem 5px rgba(255, 255, 240, 0.5);
  opacity: 0.9;
}

.box:hover {
  box-shadow: 0 0rem 1rem 1px rgba(255, 255, 240, 0.5);
}

.box-1 {
  --bcolor: greenyellow;
  --ccolor: rgba(173, 255, 47, 0.03);
}

.box-2 {
  --bcolor: purple;
  --ccolor: rgba(128, 0, 128, 0.03);
}

.box-3 {
  --bcolor: rgb(247, 247, 215);
  --ccolor: rgba(247, 247, 215, 0.03);
}

.box-4 {
  --bcolor: pink;
  --ccolor: rgba(255, 192, 203, 0.03);
}

.box-5 {
  --bcolor: orange;
  --ccolor: rgba(255, 165, 0, 0.03);
}

.box-6 {
  --bcolor: turquoise;
  --ccolor: rgba(64, 224, 208, 0.03);
}

.box-7 {
  --color-1: rgb(64, 224, 208);
  --color-2: rgb(52, 255, 235);

  --color-1a: rgba(64, 224, 208, 0.03);
  --color-2a: rgba(52, 255, 235, 0.02);

  --bcolor: repeating-linear-gradient(
    -55deg,
    var(--color-1),
    var(--color-1) 10px,
    var(--color-2) 10px,
    var(--color-2) 20px
  );
  --ccolor: repeating-linear-gradient(
    -55deg,
    var(--color-1a),
    var(--color-1a) 10px,
    var(--color-2a) 10px,
    var(--color-2a) 20px
  );
}

.box-8 {
  --color-1: rgb(255, 165, 0);
  --color-2: rgb(253, 200, 100);

  --color-1a: rgba(255, 165, 0, 0.03);
  --color-2a: rgba(253, 200, 100, 0.03);

  --bcolor: repeating-linear-gradient(
    -55deg,
    var(--color-1),
    var(--color-1) 10px,
    var(--color-2) 10px,
    var(--color-2) 20px
  );
  --ccolor: repeating-linear-gradient(
    -55deg,
    var(--color-1a),
    var(--color-1a) 10px,
    var(--color-2a) 10px,
    var(--color-2a) 20px
  );
}

.main {
  margin: 130px 1rem 0;
  width: 100%;
  max-width: 300px;
}

@media only screen and (min-width: 800px) {
  .main {
    margin-top: 185px;
    max-width: 600px;
  }
}

.box-contents {
  border: 1px solid transparent;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0 1rem;

  background: var(--ccolor);
}

.box-contents-list {
  list-style-type: none;
  padding: 0;
}

.box-contents-item:hover {
  text-shadow: 0 0 8px rgba(255, 255, 240, 0.5);
  font-weight: 700;
}

.box-contents-item-controls {
  margin: 0 5px;
  display: inline;
  color: gray;
}

.box-contents-item-control {
  margin: 0 0 0 5px;
  cursor: pointer;
  color: var(--color);
}

.box-contents-item-control:hover {
  filter: drop-shadow(0 0 8px var(--color));
}

.remove {
  --color: tomato;
}

.edit {
  --color: aquamarine;
}

.confirm {
  --color: lightgreen;
}

.add {
  --color: yellow;
}

.box-contents-name:hover {
  text-shadow: 0 0 8px rgba(255, 255, 240, 0.5);
  font-weight: 900;
}

.edit-input {
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid ivory;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}

.boxes-empty {
  font-size: 2rem;
}

.spin {
  animation: spin 1s ease infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.nav-name {
  font-size: 1rem;
}

.nav {
  position: relative;
}

.tiny {
  max-height: 2rem;
}

.profile-card {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.profile-picture {
  margin-left: 1rem;
  border-radius: 15%;
}

.button {
  cursor: pointer;
  color: white;
}
