
//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-box-1-color:              #333 !default;
$btn-box-1-bg:                 #ace600 !default;
$btn-box-1-border:             darken($btn-box-1-bg, 5%) !default;

$btn-box-2-color:              #333 !default;
$btn-box-2-bg:                 #8D3D94 !default;
$btn-box-2-border:             darken($btn-box-2-bg, 5%) !default;

$btn-box-3-color:              #333 !default;
$btn-box-3-bg:                 #FFFED1 !default;
$btn-box-3-border:             darken($btn-box-3-bg, 5%) !default;

$btn-box-4-color:              #333 !default;
$btn-box-4-bg:                 #F7CECD !default;
$btn-box-4-border:             darken($btn-box-4-bg, 5%) !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              darken($btn-danger-bg, 5%) !default;

// $btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

@mixin button-variant($color, $background, $border, $active-color) {
    color: $color;
    background-color: $background;
    border-color: $border;
  
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 25%);
    }
    &:hover {
      color: $color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      color: $active-color;
      background-color: darken($background, 10%);
          border-color: darken($border, 12%);
  
      &:hover,
      &:focus,
      &.focus {
        color: $color;
        background-color: darken($background, 17%);
            border-color: darken($border, 25%);
      }
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
      background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus,
      &.focus {
        background-color: $background;
            border-color: $border;
      }
    }
  
    .badge {
      color: $background;
      background-color: $color;
    }
  }
  

.btnBox1 {
    @include button-variant($btn-box-1-color, $btn-box-1-bg, $btn-box-1-border, #fff);
}
.btnBox2 {
    @include button-variant($btn-box-2-color, $btn-box-2-bg, $btn-box-2-border, #fff);
}
.btnBox3 {
    @include button-variant($btn-box-3-color, $btn-box-3-bg, $btn-box-3-border, #bbb);
}
.btnBox4 {
    @include button-variant($btn-box-4-color, $btn-box-4-bg, $btn-box-4-border, #fff);
}