body {
  background-color: rgb(40, 44, 52);
  color: white;

  display: flex;
  justify-content: center;
}

.container {
  margin: 1rem 0;
}

@media only screen and (min-width: 800px) {
  .container {
    margin: 1rem 4rem;
  }
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.filter {
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 2rem;
}

.filter-input {
  flex-grow: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid ivory;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}

.filter-input:focus {
  box-shadow: 0 0 1rem 1px rgba(255, 255, 240, 0.5);
}

.filter-clear-button {
  width: 2rem;
  font-size: 1rem;
  border: 1px solid ivory;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  color: gray;
  font-weight: 100;
}

.filter-clear-button:hover,
.filter-clear-button:focus,
.filter-clear-button-focus {
  box-shadow: 0 0 1rem 1px rgba(255, 255, 240, 0.5);
}

.filter-clear-button:hover,
.filter-clear-button:focus {
  color: red;
  font-weight: 700;

  transition: all 200ms ease;
}

.boxes {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.box {
  --size: 3.5rem;
  line-height: var(--size);
  min-width: var(--size);

  border-radius: 10%;
  margin: 2px;
  font-size: xx-large;
  cursor: pointer;
  box-shadow: 0 0rem 1rem 1px rgba(255, 255, 240, 0.1);
  border: 0;
  outline: none;
}

@media only screen and (min-width: 800px) {
  .box {
    --size: 5rem;
  }
}

.box:hover {
  box-shadow: 0 0rem 1rem 1px rgba(255, 255, 240, 0.5);
}

.box-1 {
  background-color: greenyellow;
}

.box-2 {
  background-color: purple;
}

.box-3 {
  background-color: rgb(247, 247, 215);
}

.box-4 {
  background-color: pink;
}

.box-5 {
  background-color: orange;
}

.box-6 {
  background-color: turquoise;
}

.box-7 {
  --color-1: rgb(64, 224, 208);
  --color-2: rgb(52, 255, 235);

  background: repeating-linear-gradient(
    -55deg,
    var(--color-1),
    var(--color-1) 10px,
    var(--color-2) 10px,
    var(--color-2) 20px
  );
}

.box-8 {
  --color-1: rgb(255, 165, 0);
  --color-2: rgb(253, 200, 100);

  background: repeating-linear-gradient(
    -55deg,
    var(--color-1),
    var(--color-1) 10px,
    var(--color-2) 10px,
    var(--color-2) 20px
  );
}

.main {
  margin: 0 1rem;
}
